.tile {
  border: 1px solid red;
  width: 200px;
  height: 200px;
  float: left;
  margin: 10px;
  border-radius: 10px;
  background: lightgrey;
}

#container {
  width: 80%;
  margin: 0 auto;
}
#sidebar {
  width: 200px;
  height: 100%;
  position: absolute;
  background: red;
  left: -200px;
  top: 0px;
  border: 1px solid black;
}

img {
  margin-top: -7px;
  vertical-align: middle;        
}

ul {
  list-style: none;
}